{% comment %}
Article footer with tags, author profile and related articles
{% endcomment %}

<footer>
  <section class="tags">
  {% capture header %}<h2>Article tags</h2>{% endcapture %}
  {% assign items = page.tags %}
  {% include article/list-items.html header=header items=items %}
  </section>
  
  {% if page.author.size > 0 %}
    {% for title in page.author %}
    <section class="author">
      {% assign author = site.authors | where_exp: 'author', 'author.title contains title' | first %}
      <a href="{{ author.url }}" aria-hidden="true">
        <img src="{{ author.image }}" alt="{{ author.title }}" class="thumbnail">  
      </a>

      <h2><a href="{{ author.url }}">{{ author.title }}</a><br>{{ author.role }}</h2>

      <p class="bio">{{ author.description }}</p>

      {% capture header %}<h3>More from {{ author.title }}</h3>{% endcapture %}
      {% assign items = site.posts | where_exp: 'post', 'post.author contains author.title' | sample: 3 %}
      {% include article/list-items.html header=header items=items %}
    </section>
    {% endfor %}
  {% endif %}
</footer>
