{% comment %}
Article header with image, headline and byline
{% endcomment %}

<header>
  {% if page.image.file %}
    <figure>
      <img src="{{ page.image.file }}" alt="{{ page.image.alt }}">
      {% if page.image.caption or page.image.credit %}
      <figcaption>
        {% if page.image.caption %}{{ page.image.caption }}{% endif %}
        {% if page.image.credit %}Source: {{ page.image.credit }}{% endif %}
      </figcaption>
      {% endif %}
    </figure>
  {% endif %}

  <div class="category">
    {{ page.categories[0] }}
  </div>
  
  <h1>{{ page.title }}</h1>
  
  {% include article/byline.html %}
</header>