{% comment %}
Footer Mailchimp subscription form
{% endcomment %}

<form id="mce-footer-form"
  action="//metroideas.us11.list-manage.com/subscribe/post?u=f9d7c3f4989701b58fc58c470&id=e50225c31c"
  method="post"
>
  <div
    role="alert" 
    tabindex="-1"
    aria-label="form response"
    aria-hidden="true" 
    id="mce-footer-response"
  >
  </div>
  <fieldset>
    <legend>
      <h2>Mailing list</h2>
    </legend>

    <small>* indicates required field</small>

    <p>
      <label for="email-address">Email address *</label>
      <input type="email" name="EMAIL" id="email-address" placeholder="alexander@example.com" required>
    </p>

    <div class="row">
      <p>
        <label for="first-name">First name</label>
        <input type="text" name="FNAME" id="first-name" placeholder="Alexander">
      </p>
      
      <p>
        <label for="first-name">Last name</label>
        <input type="text" name="LNAME" id="last-name" placeholder="Hamilton">
      </p>

      <p>
        <label for="zipcode">ZIP code</label>
        <input type="text" name="MERGE3" id="zipcode" placeholder="37402" pattern="\d*">
      </p>
    </div>

    <!-- Mailchimp code -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f9d7c3f4989701b58fc58c470_e50225c31c" tabindex="-1" value=""></div>
    
    <button type="submit">Submit</button>
  </fieldset>
</form>