{% comment %}
Social media meta tags -- Needs image uri
{% endcomment %}

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">

{% if page.image.file %}
<meta property="og:image" content="{{ page.image.file | absolute_url }}">
{% endif %}

<meta property="og:description" content="
  {% if page.lead %}
    {{ page.lead }}
  {% elsif page.description %}
    {{ page.description }}
  {% else %}
    {{ site.description }}
  {% endif %}
">

<!-- Facebook -->
<meta property="fb:app_id" content="{{ site.facebook_id }}">

<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="
  {% if page.lead %}
    {{ page.lead }}
  {% elsif page.description %}
    {{ page.description }}
  {% else %}
    {{ site.description }}
  {% endif %}
">
<meta name="twitter:image" content="
  {% if page.image.file %}
    {{ page.image.file | imgix_url: w: 600, h:400, dpr:2 }}
  {% endif %}
">
<meta name="twitter:image:alt" content="
  {% if page.image.alt %}
    {{ page.image.alt }}
  {% endif %}
">
