---
permalink: "/about/"
layout: default
main: about
---

{% assign currentStaff = site.authors | where_exp: "author", "author.current == true" | sort: "position" %}

<header class="mission" id="mission">
  <div class="graphic" aria-hidden="true">
    <svg width="428px" height="500px" viewBox="0 0 428 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-80.000000, -206.000000)" stroke-width="6">
              <g transform="translate(0.000000, 100.000000)">
                  <g transform="translate(86.000000, 109.000000)">
                      <path d="M176.269997,397.227907 L176.269997,318.742857 L8.26999664,318.742857 L8.26999664,486.742857 L176.269997,486.742857 L176.269997,408.257807 L184.532854,402.742857 L176.269997,397.227907 Z" id="bottom-box" stroke="#1F3567" transform="translate(96.401425, 402.742857) rotate(-270.000000) translate(-96.401425, -402.742857) "></path>
                      <path d="M8.27242525,149.521336 L8.27242525,288 L296.272425,288 L296.272425,0 L8.27242525,0 L8.27242525,138.478664 L1.24972384e-14,144 L8.27242525,149.521336 Z" id="top-box" stroke="#3B71E8"></path>
                      <path d="M408,282 L408,193 L218,193 L218,383 L408,383 L408,293.0299 L416.262857,287.51495 L408,282 Z" id="middle-box" stroke="#E5E2DB"></path>
                  </g>
              </g>
          </g>
      </g>
    </svg>
  </div>
  <div class="description">
    <h1>We are an urban policy startup working for America's cities.</h1>
    
    <p>We help midsize cities design solutions and policies that are practical, evidence-based and informed by local data to more effectively address tough urban challenges.</p> 

    <p>To tackle those challenges, we have assembled a diverse team of thinkers: journalists, academics, coders, writers and policymakers. At the intersection of research institutions, policy shops and creative agencies, we are working to redefine what a think tank can be.</p>

    <a href="#contact-us" class="button" data-scroll>Hire us</a>
  </div>
</header>

<section class="midsize-cities" id="midsize-cities">
  {% include inline-css/hero.html id="midsize-cities-hero" image="/media/about-midsize-cities-hero.jpg" %}
  <div class="hero" id="midsize-cities-hero">
  </div>

  <div class="container">
    <div>
      <h2>Big ideas for midsize cities</h2>
      <p>We place a special focus on midsize cities because we see these places as high-leverage opportunities to make a difference locally and nudge urban policy nationwide — where ideas can be developed, tested and scaled to other communities facing similar challenges with comparable resources.</p>
    </div>
  </div>
</section>

<section class="goals" id="goals">
  <h2>Our approach</h2>
  <div class="goal-1">
    <object type="image/svg+xml" data="/media/support-local-governments.svg" aria-hidden="true" tabindex="-1">
      <img src="/media/support-local-governments@2x.png" alt="Lightbulb">
    </object>
    <h3>Conduct meaningful research</h3>
    <p>We help cities answer complex questions by building research projects designed to inform decision makers with local data, place-based context and actionable findings.</p>
  </div>
  <div class="goal-2">
    <object type="image/svg+xml" data="/media/develop-innovative-solutions.svg" aria-hidden="true" tabindex="-1">
      <img src="/media/develop-innovative-solutions@2x.png" alt="Buildings">
    </object>
    <h3>Develop practical solutions</h3>
    <p>We help cities develop smart urban policy, balancing new and experimental ideas with solutions that are both effective and have a realistic path to implementation.</p>
  </div>
  <div class="goal-3">
    <object type="image/svg+xml" data="/media/foster-informed-discussions.svg" aria-hidden="true" tabindex="-1">
      <img src="/media/foster-informed-discussions@2x.png" alt="Dialog bubbles">
    </object>
    
    <h3>Engage communities</h3>
    <p>We put the research and policy design framework through a creative lens in order to ensure our work is engaging, accessible and relevant to everyday residents.</p>
  </div>
</section>

<section class="outcomes" id="outcomes">
  <h2>Outcomes over output</h2>
  <p>We measure our success by the direct impact our ideas have on the local challenges we take on. Of course, data and analysis alone won't improve outcomes. That's why we engage lawmakers, local leaders and residents to develop actionable plans for change.</p>
</section>

<section class="legal" id="legal">
  <div class="tab-selector">
    <ul role="tablist" aria-orientation="vertical">
      <li role="presentation">
        <a href="#panel-mission" id="tab-mission" tabindex="0" role="tab" aria-controls="panel-mission" aria-selected="true">Our mission</a>
      </li>
      
      <li role="presentation">
        <a href="#panel-independent" id="tab-independent" tabindex="-1" role="tab" aria-controls="panel-independent" aria-selected="false">We're independent</a>
      </li>
      <li role="presentation">
        <a href="#panel-governance" id="tab-governance" tabindex="-1" role="tab" aria-controls="panel-governance" aria-selected="false">Governance and funding</a>
      </li>
      <li role="presentation">
        <a href="#panel-board" id="tab-board" tabindex="-1" role="tab" aria-controls="panel-board" aria-selected="false">Board of directors</a>
      </li>
    </ul>
    <section id="panel-mission" role="tabpanel" aria-hidden="false" aria-labelledby="tab-mission" tabindex="0">
      <h2 class="h4">We put cities and their residents at the center of our work</h2>
      <p>Our mission is to help midsize cities across America tackle their toughest challenges by developing innovative solutions and smart policies rooted in research and data in order to realize a more effective, prosperous and equitable urban future.</p>
    </section>

    <section id="panel-independent" role="tabpanel" aria-hidden="true" aria-labelledby="tab-independent" tabindex="0">
      <h2 class="h4">We are committed to intellectually honest and rigorous scholarship</h2>
      <p>Our team is empowered to take positions and make recommendations shaped by research findings.</p>
      <p>Diversity in thought, experience and ideology are core to our mission of building a new kind of research organization that values the best ideas over rigid political agendas. The Metro Ideas Project's financial supporters have no influence over any aspect of research project design, analysis, findings or recommendations.</p>
      <p>We are a 501(c)(3) nonpartisan organization that neither makes endorsements nor engages in electioneering.</p>
    </section>

    <section id="panel-governance" role="tabpanel" aria-hidden="true" aria-labelledby="tab-governance" tabindex="0">
      <h2 class="h4">These reports and documents provide deeper insight into our work</h2>
      <p>We will regularly update this section with current and past annual reports, key governance documents and audited financial statements.</p>
      <ul>
        <li><a href="/media/legal/charter.pdf">Nonprofit charter</a></li>
        <li><a href="/media/legal/conflict-of-interest-policy.pdf">Conflict of interest policy</a></li>
        <li><a href="/media/legal/bylaws.pdf">Organizational bylaws</a></li>
        <li><a href="/media/legal/irs-determination.pdf">Approval of 501(c)(3) status</a></li>
      </ul>
      <p>Metro Ideas Project was made possible by a two-year operating seed grant from Lamp Post Group in October 2015. Our organization has since grown beyond that initial grant and is supported by foundations, cities and donors from across the country.</p>
    </section>

    <section id="panel-board" role="tabpanel" aria-hidden="true" aria-labelledby="tab-board" tabindex="0">
      <h2 class="h4">Our leadership ensures our work remains credible and sustainable</h2>
      <ul class="long-list">
        <li>Joda Thongnopnua, executive director, Metro Ideas Project</li>
        <li>Stephen Culp, founder and chairman, SmartFurniture</li>
        <li>Barry Large, founding partner, Lamp Post Group</li>
        <li>Dr. Marcus D. Mauldin, associate professor, UT Chattanooga</li>
        <li>Lori Quillen, program officer, Benwood Foundation</li>
      </ul>
    </section>
  </div>
</section>

<section class="creative-thinking" id="creative-thinking">
  {% include inline-css/hero.html id="creative-thinking-hero" image="/media/about-creative-thinking.jpg" %}
  <div class="hero" id="creative-thinking-hero"></div>
  </div>

  <div class="description">
    <object type="image/svg+xml" data="/media/naked-logo.svg" aria-hidden="true">
      <img src="/media/naked-logo@2x.png" alt="Lightbulb">
    </object>
    <div>
      <h2>Policy designed for everyone</h2>
      <p>Our work is designed to build efficacy and understanding among residents by sparking meaningful community dialog about tough and complex local issues. Across different venues and platforms, we value accessibility and strive to be inclusive in the way we speak, write and do.</p>
    </div>
  </div>
</section>

<section class="team alt-gray" id="team">
  <figure class="large-container">
    <picture aria-hidden="true">
      {% assign team_photo = "/media/about-team.jpg" %}
      <source media="(min-width:600px)"
             srcset="{{ team_photo | imgix_url: w: 1200, h: 450, fit:"crop", q:50 }} 1x,
                     {{ team_photo | imgix_url: w: 1200, h: 450, fit:"crop", q:50, dpr:2 }} 2x,
                     {{ team_photo | imgix_url: w: 1200, h: 450, fit:"crop", q:50, dpr:3 }} 3x">
      <img srcset="{{ team_photo | imgix_url: w:600, h: 250, fit:"crop", q:50 }} 1x,
                   {{ team_photo | imgix_url: w:600, h: 250, fit:"crop", q:50, dpr:2 }} 2x,
                   {{ team_photo | imgix_url: w:600, h: 250, fit:"crop", q:50, dpr:3 }} 3x"
              src="{{ team_photo | imgix_url: w:600, h: 250, fit:"crop", q:50 }}"
              alt="Staff talking at conference table">
    </picture>
  </figure>

  <div class="container">
    <div class="description">
      <h2>We're a multidisciplinary team of doers.</h2>
      <p>We are a diverse team of talented thinkers, passionate and knowledgeable about a wide range of urban issues. Our staff is assembled from the ranks of tech, academia, journalism and creative agencies.</p> 

      <p>It's our priority to reach beyond the typical mix of talent found in traditional institutions in order to build an organization capable of tackling public sector challenges in the 21st century.</p>
       
      <p>We are proudly based in Chattanooga, Tennessee. If you're interested in joining our team, check out our open positions at <a href="/careers/">metroideas.org/careers</a>.</p>
    </div>
    

    <ul class="box-list">
      {% for staff in currentStaff %}
        <li>
          {% include patterns/box-anchor.html title=staff.title href=staff.url meta=staff.role %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="contact-us" id="contact-us">
  <div class="description-form">
    <div class="description">
      <h2>We're here to help.</h2>
      <p style="margin-bottom:2rem;">We are building an idea engine for America's midsize cities by designing and developing informed solutions to complex urban problems.</p>
      <p>If you're looking for an innovative, research-based approach to an urban policy challenge, we're here to help. Please contact us for more information.</p>
    </div>
    <form class="block whole" action="https://formspree.io/info@metroideas.org" method="POST">
      <div>
        <label for="contact-us-name">Name</label><br>
        <input type="text" id="contact-us-name" name="name" placeholder="Jane Jacobs">
      </div>

      <div>
        <label for="contact-us-email-address">Email address</label><br>
        <input type="email" id="contact-us-email-address" name="_replyto" placeholder="jane@example.com">
      </div>
      
      <div>
        <label for="contact-us-message">Message</label><br>
        <textarea id="contact-us-message" name="message" placeholder="Say hello"></textarea>
      </div>
      
      <input type="hidden" name="_format" value="plain" aria-hidden="true">
      <input type="hidden" name="_subject" value="Metro Ideas Project inquiry" aria-hidden="true">
      <input type="text" name="_gotcha" style="display:none" aria-hidden="true">
      
      <div>
        <button>Send message</button>
      </div>
    </form>
      
    
  </div>
</section>