---
title: Community
permalink: "/community/"
layout: critical
description: "Wednesday through Friday, 8 a.m. to 2 p.m."
hours: "Wednesday through Friday, 8 a.m. to 2 p.m."
image:
  file: "/media/coffee-shop-hero.jpg"
events:
- title: Public Assembly 2018
  url: "https://www.eventbrite.com/e/public-assembly-2018-tickets-44022713120"
  description: "Public Assembly is a gathering of the nation's most important voices, ranging from prominent authors, key elected officials, emerging journalists, and policy minds working on some of our toughest problems. [Buy tickets](https://www.eventbrite.com/e/public-assembly-2018-tickets-44022713120)"
  image:
    file: "/media/public-assembly-logo.jpg"
---

{% assign project = page %}
{% assign hero_id = project.title | append: " hero" | slugify %}
{% if project.image.file %}
  {% assign image = project.image.file %}
{% endif %}

{% include patterns/banner-transparent.html %}

<main class="project" role="main" id="main">
  {% include inline-css/hero-full-screen.html id=hero_id image=image %}
  <style>
    .hours {
      font-size: 18px;
      font-family: "Merriweather Sans", sans-serif; 
      text-align: center;
  </style>
  <header class="full-screen" id="{{ hero_id }}">
    <div class="medium-container">
      <h1 class="large-display">{{ page.title | append: " Hours" }}</h1>
      <p class="hours">{{ page.hours }}</p>
    </div>
  </header>

  <section class="article-list container">
    <h2 class="whole">Upcoming Events</h2>
    {% for event in page.events %}
      {% include patterns/preview.html post=event %}
    {% endfor %}
  </section>
  
</main>

{% include patterns/footer.html %}