---
permalink: "/"
layout: default
main: homepage
---

{% assign project-1 = site.projects[0] %}
{% assign project-2 = site.projects[1] %}
{% assign project-3 = site.projects[2] %}
{% assign blog = site.posts | where_exp: "post", "post.project == null" %}

<style>
  #project-1 {
    background-image: url('{{ project-1.image.file }}');
  }

  #project-2 {
    background-image: url('{{ project-2.image.file }}');
  }

  #project-3 {
    background-image: url('{{ project-3.image.file }}');
  }
</style>

<section class="projects" id="projects">
  <div class="card-group">
    <article class="project-card-featured" id="project-1">
      <header>
        <h1 class="display">{{ project-1.title }}</h1>
        <p>{{ project-1.lead }}</p>
        <a href="{{ project-1.url }}" class="button transparent-reverse">View project</a>
      </header>
    </article>
  </div>
  <div class="card-group">
    <article class="project-card" id="project-2">
      <header>
        <h2>{{ project-2.title }}</h2>
        <p>{{ project-2.lead }}</p>
        <a href="{{ project-2.url }}" class="button transparent-reverse">View project</a>
      </header>
    </article>

    <article class="project-card" id="project-3">
      <header>
        <h2>{{ project-3.title }}</h2>
        <p>{{ project-3.lead }}</p>
        <a href="{{ project-3.url }}" class="button transparent-reverse">View project</a>
      </header>
    </article>
  </div>
</section>

<section class="rethink" id="rethink">
  <figure class="third">
    <object type="image/svg+xml" data="/media/homepage-lightbulb.svg">
      <img src="/media/homepage-lightbulb@2x.png" alt="Light bulb illustration">
    </object>
  </figure>
  
  
  <header class="span-9">
    <h2>Rethink urban policy</h2>
    
    <p>We are an independent, nonprofit research startup devoted to the analysis and design of public policies that help make midsize cities work better for people.</p>
    
    <a href="/about/" class="button">Learn more</a>
  </header>
</section>

<section class="blog" id="blog">
  <h2>From the blog</h2>
  <div class="card-group">
    {% for post in blog limit:4 %}
    <article class="card">
      <picture style="height:300px;width:300px;" aria-hidden="true">
        {% if post.image.file %}
        <img src="{{ post.image.file }}" alt="{{ post.image.alt }}">
        {% else %}
        <img class="green" src="/media/bg-dots.svg">
        {% endif %}
      </picture>

      <div class="description">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <time datetime={{ post.date | date_to_xmlschema }}>{{ post.date | ap_date }}</time>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<section class="description-form" id="email-signup">
  <div class="description green bg-dots">
    <h2>Stay informed</h2>
    <p>We’ll deliver insights and updates from the Metro Ideas Project straight to your email.</p>
  </div>
    
  <form class="block">
    <div class="half">
      <label>First name</label><br>
      <input type="text" placeholder="First name">
    </div>

    <div class="half">
      <label>Last name</label><br>
      <input type="text" placeholder="Last name">
    </div>

    <div class="whole">
      <label>Email address</label><br>
      <input type="email" placeholder="Email address">
    </div>
    
    <div class="half">
      <label>ZIP code</label><br>
      <input class="default" type="text" placeholder="ZIP code">
    </div>
    
    <div class="whole">
      <button class="green">Subscribe</button>
    </div>
  </form>
</section>
