---
permalink: "/"
layout: default
main: homepage
image:
  file: "/media/mip-team-full.jpg"
---

{% assign projects = site.projects | sort: "position" %}
{% comment %}
  Homepage default. Temporarily overwritten
  {% assign project-1 = projects[0] %}
  {% assign project-2 = projects[1] %}
  {% assign project-3 = projects[2] %}
{% endcomment %}
{% assign blog = site.posts | where_exp: "post", "post.project == null" %}
{% assign project-1 = site.posts | where_exp: "post", "post.title == "Public Assembly Starts May 11" %}
{% assign project-2 = projects[0] %}
{% assign project-3 = projects[1] %}

<section class="projects" id="projects">
  <div class="card-group">
    {% include patterns/project-card-featured.html project=project-1 %}
  </div>
  <div class="card-group">
    {% include patterns/project-card.html project=project-2 %}
    {% include patterns/project-card.html project=project-3 %}
  </div>
</section>

<section class="rethink" id="rethink">
  <figure class="third">
    <object type="image/svg+xml" data="/media/homepage-lightbulb.svg">
      <img src="/media/homepage-lightbulb@2x.png" alt="Light bulb illustration">
    </object>
  </figure>
  
  
  <header class="span-9">
    <h2>Rethink urban policy</h2>
    
    <p>We are an independent, nonprofit research startup devoted to the analysis and design of public policies that help make midsize cities work better for people.</p>
    
    <a href="/about/" class="button">Learn more</a>
  </header>
</section>

<section class="blog" id="blog">
  <h2>From the blog</h2>
  <div class="card-group">
    {% for post in blog limit:4 %}
      {% include patterns/card.html post=post %}
    {% endfor %}
  </div>
</section>

<section class="description-form" id="email-signup">
  <div class="description green bg-dots">
    <h2>Stay informed</h2>
    <p>We’ll deliver insights and updates from the Metro Ideas Project straight to your email.</p>
  </div>
    
  <form class="block" method="post" action="//metroideas.us11.list-manage.com/subscribe/post?u=f9d7c3f4989701b58fc58c470&amp;id=e50225c31c" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="half">
      <label for="mce-FNAME">First name</label><br>
      <input type="text" id="mce-FNAME" name="FNAME" placeholder="Jane">
    </div>

    <div class="half">
      <label for="mce-LNAME">Last name</label><br>
      <input type="text" id="mce-LNAME" name="LNAME" placeholder="Jacobs">
    </div>

    <div class="whole">
      <label for="mce-EMAIL">Email address</label><br>
      <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="jane@example.com">
    </div>
    
    <div class="half">
      <label for="mce-MMERGE3">ZIP code</label><br>
      <input class="default" id="mce-MMERGE3" name="MMERGE3" type="text" placeholder="10014">
    </div>

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f9d7c3f4989701b58fc58c470_e50225c31c" tabindex="-1" value=""></div>
    
    <div class="whole">
      <button class="green" name="subscribe">Subscribe</button>
    </div>
  </form>
</section>
