---
permalink: "/projects/"
layout: default
main: project-index
---

{% assign project-1 = site.projects[0] %}
{% assign project-2 = site.projects[1] %}
{% assign project-3 = site.projects[2] %}

<section class="card-group">
  {% include patterns/project-card-featured.html project=project-1 %}
</section>

<div class="description">
  <h2>About our research</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sed quisquam pariatur, officia ex perferendis quibusdam nobis? Quod itaque cum numquam harum ipsa quisquam odio voluptatum voluptate, error cumque architecto.</p>
</div>

<section class="card-group">
  {% include patterns/project-card.html project=project-2 %}
  {% include patterns/project-card.html project=project-3 %}
</section>
