{% comment %}
Article card requires post object


{% include patterns/card.html post=post %}
{% endcomment %}

{% assign post  = include.post %}
{% assign image = post.image.file %}

<article class="card">
  <picture aria-hidden="true">
    {% if post.image.file %}
    <source media="(min-width:800px)"
           srcset="{{ post.image.file | imgix_url: w:300, h:300, fit:"crop", auto:"format" }} 1x,
                   {{ post.image.file | imgix_url: w:300, h:300, fit:"crop", auto:"format", dpr:2 }} 2x,
                   {{ post.image.file | imgix_url: w:300, h:300, fit:"crop", auto:"format", dpr:3 }} 3x">
    <img srcset="{{ post.image.file | imgix_url: w:350, h:200, fit:"crop", auto:"format" }} 1x,
                 {{ post.image.file | imgix_url: w:350, h:200, fit:"crop", auto:"format", dpr:2 }} 2x,
                 {{ post.image.file | imgix_url: w:350, h:200, fit:"crop", auto:"format", dpr:3 }} 3x"
            src="{{ post.image.file | imgix_url: w:350, h:200, fit:"crop", auto:"format" }}"
            alt="{{ post.image.alt }}">
    {% else %}
    <img src="/media/bg-dots.svg" alt="{{ post.title }}" class="green">
    {% endif %}
  </picture>

  <div class="description">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <time datetime={{ post.date | date_to_xmlschema }}>{{ post.date | ap_date }}</time>
  </div>
</article>