{% comment %}
Article card requires post object


{% include patterns/card.html post=post %}
{% endcomment %}

{% assign post = include.post %}

<article class="card">
  <picture style="height:300px;width:300px" aria-hidden="true">
    {% if post.image.file %}
    <img src="{{ post.image.file }}" alt="{{ post.image.alt }}">
    {% else %}
    <img src="/media/bg-dots.svg" alt="{{ post.image.alt }}" class="green">
    {% endif %}
  </picture>

  <div class="description">
    <h2>{{ post.title }}</h2>
    <time datetime={{ post.date | date_to_xmlschema }}>{{ post.date | ap_date }}</time>
  </div>
</article>