{% comment %}
Article preview has required post argument:
  
{% include article/preview.html post=post %}  
{% endcomment %}

{% assign post  = include.post %}
{% assign link  = post.url %}
{% assign image = post.image.file %}

<article class="article-preview">
  <figure>
    <a href="{{ link }}">
      {% if post.image.file %}
        <img srcset="{{ image | imgix_url: w:450, h:250, fit:"crop", q:50 }} 1x,
                     {{ image | imgix_url: w:450, h:250, fit:"crop", q:50, dpr:2 }} 2x,
                     {{ image | imgix_url: w:450, h:250, fit:"crop", q:50, dpr:3 }} 3x"
                src="{{ image | imgix_url: w:450, h:250, fit:"crop", q:50 }}"
                alt="{{ post.image.alt }}">
        {% if post.image.credit %}
        <figcaption>{{ post.image.credit }}</figcaption>
        {% endif %}
      {% else %}
        <div class="placeholder"></div>
      {% endif %}
    </a>
  </figure>

  <header class="description">
    {% if post.categories.size > 0 %}
    <span class="category">{{ post.categories | first }}</span>
    {% endif %}
    <h1>
      <a href="{{ link }}">{{ post.title }}</a>
    </h1>
    <p>{{ post.description }}</p>
  </header>
</article>