<aside class="sharing-widget">
  <header class="title">
    Share this story
  </header>

  <ul>
    <li class="facebook">
      <a class="icon black"
        href="http://www.facebook.com/sharer.php?u={{ page.url }}" target="_blank">
        {% include icons/facebook.svg %}
      </a>
    </li>
    <li class="twitter">
      <a class="icon black"
        href="https://twitter.com/share?url={{ page.url }}&amp;text={{ page.title }} via @thinkmetro" data-size="large" target="_blank">
        {% include icons/twitter.svg %}
      </a>
    </li>
    <li class="email">
      <a class="icon black"
        href="mailto:?subject={{ page.title | prepend: "Metro Ideas Project: "}}&body={{ page.description | append: " — " | append: page.url }}">
        {% include icons/email.svg %}
      </a>
    </li>
  </ul>
</aside>