/**
 * This partial defines several hero mixins along with hero classes. 
 * Heroes are differentiated by their heights: default, short and full-screen.
 * 
 * Note that width is set in individual classes, not the mixins. This is because
 * some classes — project cards — have fixed widths on mobile and desktop displays. 
 */

// Hero image settings. This mixin sets position: relative and applies some styles to &:before
// where other background settings (i.e. a gradient) may be applied by calling classes.
@mixin hero-image {
  position: relative;
  z-index: 0;
  
  background-color: $blue; /* Default color while image loads */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Hero padding prevents hero's internal copy from butting against container edge on mobile displays
@mixin hero-padding {
  @include padding($gutter $half-gutter);
}

// Hero default 300px/500px
@mixin hero-default {
  min-height: 30rem;
  height: 60vh;

  @media (min-width: $small) and (min-height: $small) {
    height: 50rem;
  }
}


// Short hero 250px/340px
@mixin hero-short {
  min-height: 25rem;

  @media (min-width: $small) and (min-height: $small) {
    min-height: 34rem;
  }
}

// Full-screen hero with 300px minimum
@mixin hero-full-screen {
  min-height: 30rem;
  max-height: 100vh;
  height: 100vh;
}

// Inverse hero type ensures text is white
@mixin hero-inverse-type {
  color: $white;

  h1,
  h2,
  h3,
  h4 {
    color: $white;
  }

  a {
    color: $white;
  }

  a:hover {
    border-color: $white;
  }

  .tag,
  .category {
    color: $black;
  }

  a.tag:hover,
  a.category:hover {
    color: $blue;
  }
}

// 1. Set width in hero classes, not the mixins
.hero,
.hero-short,
.full-screen {
  @include hero-image;
  @include hero-padding
  @include hero-inverse-type;

  width: 100%; /* 1 */
}

@mixin hero-gradient {
  
}

.hero {
  @include hero-default;

  &:before {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.1) 40%, rgba(0,0,0,1.0) 100%);
  }
}

// 1. This opacity is set to a somewhat dark background image.
// It may need to be revisited in the future.
.hero-short {
  @include hero-short;

  &:before {
    background-color: #000000;
    opacity: 0.33; /* 1 */
  }
}

.full-screen {
  @include hero-full-screen;

  &:before {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  }
}
