{% comment %}
Renders article aside(s)

Asides should be rendered as 'Learn more' links in XML feeds.
Set page.feed to true in XML frontmatter

{% include article/aside.html title="Title" %}
{% endcomment %}

{% assign aside = site.asides | where_exp: "aside", "aside.title contains include.title" | first %}

<aside id="{{ aside.slug }}">
  {% if page.feed %}
    Learn more: <a href="{{ page.url }}#{{ aside.slug }}">{{ aside.title }}</a>
  {% else %}
    <h2>{{ aside.title }}</h2>
    {{ aside.content | markdownify }}
  {% endif %}
</aside>
