---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

{% for section in page.section %}
<section id="{{ section.title | slugify }}">
  <h2>{{ section.title }}</h2>
  {% if section.image.file %}
  <img src="{{ section.image.file }}" alt="{{ section.image.alt }}">
  {% endif %}

  {{ section.description | markdownify }}
</section>
{% endfor %}

<section id="board">
  <h2>Board of directors</h2>
  <ul>
    <li>Joda Thongnopnua</li>
    <li>Dr. Roger Brown</li>
    <li>Stephen Culp</li>
    <li>Barry Large</li>
    <li>Dr. Marcus D. Mauldin</li>
    <li>Lori Quillen</li>
    <li>Betsy Ranalli</li>
  </ul>
</section>

{% assign staff = site.authors | where: "current", "true" | sort: "position" %}
<section id="staff">
  <h2>Staff</h2>
  <ul>
    {% for item in staff %}
    <li><a href="{{ item.url }}">{{ item.title }}</a>, {{ item.role | downcase}}</li>
    {% endfor %}
  </ul>
</section>

<section id="legal-and-financial">
  <h2>Legal and financial</h2>
  <ul>
    <li><a href="/media/legal/charter.pdf">Nonprofit charter</a></li>
    <li><a href="/media/legal/conflict-of-interest-policy.pdf">Conflict of interest policy</a></li>
    <li><a href="/media/legal/bylaws.pdf">Organizational bylaws</a></li>
    <li><a href="/media/legal/irs-determination.pdf">IRS determination of 501(c)(3) status</a></li>
  </ul>
</section>



