---
layout: default
---

{% assign hero_id = page.title | slugify %}

{% if page.image.file %}
  {% assign image = page.image.file %}
{% endif %}

<article>
  {% include inline-css/hero.html id=hero_id image=image %}
  <!-- Hero & header -->
  <div class="hero" id="{{ hero_id }}">
    <header>
      {% include article/category.html %}
      
      <h1 class="large-display">{{ page.title }}</h1>
      <p class="byline">
        {% include article/byline.html %}  
      </p>
    </header>
  </div>
  
  <!-- Content -->
  <section class="copy">
    {{ content }}
  </section>
  
  <!-- Author profiles -->
  {% include article/profile.html %}
  <!-- Related articles and tags -->
  {% include article/related.html %}
</article>
