{% assign source = site.projects | where_exp:"project", "project.hcde_calc == true" | first %}

<!doctype html>
<html class="no-js" lang="en_us">
<head>
{% include hcde-calc/head.html %}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  document.querySelector("html").classList.remove("no-js");
  WebFont.load({
    google: {
      families: ["Merriweather:400", "Merriweather Sans:400,700,900"]
    }
  });
  window.hcdeBaseURL = "{{ source['url'] }}";
</script>
</head>
<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% include patterns/banner.html %}

<main class="article">
  <article>
    {% include hcde-calc/header.html hero=true %}
    <section class="copy">
      {{ source['content'] }}
    </section>
    <div id="react-root">
      <noscript>
        <a href="https://www.enable-javascript.com/">Enable Javascript</a> in your browser and refresh the page to use our school budget calculator.
      </noscript>
    </div>
    <section class="copy" id="info">
      <h2 id="info--propertyValue">Property Value</h2>
      <p>
        Property taxes are calculated from a property's appraised value and Hamilton County's tax rate. Every $0.01 increase to the tax rate generates approximately $1 million in revenue.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--teacherPay">Teacher Pay</h2>
      <p>
        A 1 percent increase in teacher pay costs Hamilton County $2.5 million. The estimates from our calculator reflect salaries and benefits.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--artTeachers">Art Teachers</h2>
      <p>
        Ten additional art teachers are needed to put a full-time art position in every Hamilton County elementary school.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--instructionalSupport">Instructional Support</h2>
      <p>
        Instructional support includes the hiring of instructional interventionists, school counselors, social workers, and other supporting staff.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--studentFees">Student Fees</h2>
      <p>
        Classroom supply fees paid by parents at the beginning of the school year.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--apCredits">Post-Secondary Credits</h2>
      <p>
        Funds post-secondary learning opportunities with goal of 5 post-secondary credits by graduation.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>

      <h2 id="info--schoolMaintenance">School Maintenance</h2>
      <p>
        Capital maintenance remains the biggest category unfunded in the school system's proposed budget. This option would increase the overall amount by nearly $21 million.
        <br>
        <small><a href="#calculator-results" data-scroll>Back to calculator</a></small>
      </p>
    </section>
  </article>
</main>

{% include patterns/footer.html %}

<script src="/js/main.js"></script>
<script src="/js/hcde-calc.bundle.js"></script>
{% if jekyll.environment == 'production' and site.public %}
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','{{ site.google_analytics }}','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}
</body>
</html>
