---
layout: default
---

{% assign projects = site.projects | sort: "position" %}
{% assign staff = site.authors | where: "current", "true" | sort: "position" %}

<div id="projects">
  <h1>Projects</h1>
  {% for item in projects %}
    {% include index/preview.html item=item %}
    <hr>
  {% endfor %}
</div>

<div id="blog">
  <h1>Blog</h1>
  {% for item in site.posts %}
    {% if item.project or item.output == false %}
      {% comment %}So fucking lame{% endcomment %}
    {% else %}
      {% include index/preview.html item=item %}
      <hr>
    {% endif %}
  {% endfor %}
</div>

