---
layout: default
---

{% assign byline = page.title %}
{% assign posts = site.posts | where_exp: "post", "post.author contains byline" %}

<section class="bio container" id="bio">
  <figure class="half">
    <img src="{{ page.image.file }}" alt="{{ page.title }}" aria-hidden="true">
  </figure>

  <header class="half">
    <h1>{{ page.title }}</h1>
    <span class="meta-title">{{ page.role }}</span>
    <p>{{ page.description }}</p>
    
    {% include patterns/icon-list.html item=page %}
  </header>
</section>

<section class="articles container" id="articles">
  <div class="whole">
    <h2>Contributions</h2>
    {% for post in posts %}
      {% include patterns/preview.html post=post %}
    {% endfor %}
  </div>
</section>
