---
layout: default
---

{% assign project = page %}

<article class="project">

<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>
<p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | ap_datetime }}</time></p>

{% if page.image.file %}
  <figure>
    <img src="{{ page.image.file }}" alt="{{ page.image.alt }}">
    {% if page.image.credit %}
    <figcaption>
      Source: {{ page.image.credit }}
    </figcaption>
    {% endif %}
  </figure>
{% endif %}

{% comment %}
Render project overview via editor's primary content field 
{% endcomment %}

{% if page.content.size > 2 %}
<section id="overview">
  <h2>Overview</h2>
  
  {{ content }}
</section>
{% endif %}

{% comment %}
Render project's report previews.
Uses an article's title to match and generate preview from site.posts 
{% endcomment %}

{% for title in project.article %}
  {% assign item = site.posts | where_exp: 'post', 'post.title contains title' | first %}
  {% include index/preview.html item=item %}
{% endfor %}

<!-- Use project sections for downloads, resources, about, whatevs -->
{% for section in project.section %}
<section id="{{ section.title | slugify }}">
  <h2>{{ section.title }}</h2>

  {{ section.description | markdownify }}
</section>
{% endfor %}
</article>
