---
layout: default
---

{% assign byline = page.title %}
{% assign posts  = site.posts | where_exp: "post", "post.author contains byline" %}
{% assign image  = page.image.file %}

<section class="bio container" id="bio">
  {% if page.image.file %}
  <figure class="half">
    <img srcset="{{ image | imgix_url: w: 590, h:590 }} 1x,
                 {{ image | imgix_url: w: 590, h:590, dpr:2 }} 2x,
                 {{ image | imgix_url: w: 590, h:590, dpr:3 }} 3x"
            src="{{ image | imgix_url: w: 590, h:590 }}"
            alt="{{ page.title }}"
            aria-hidden="true">
  </figure>
  {% endif %}

  <header class="half">
    <h1>{{ page.title }}</h1>
    <span class="meta-title">{{ page.role }}</span>
    <p>{{ page.description }}</p>
    
    {% include patterns/icon-list.html item=page %}
  </header>
</section>

{% if posts.size > 0 %}

<section class="articles container" id="articles">
  <div class="whole">
    <h2>Contributions</h2>
    {% for post in posts %}
      {% include patterns/preview.html post=post %}
    {% endfor %}
  </div>
</section>

{% endif %}